.footer {
  background-color: var(--wed-black);
  color: var(--wed-white);
  position: relative;
  display: flex;
}

.textSection,
.supportSection,
.contactSection {
  margin-top: 18px;
  width: 33%;
}

.textSection div {
  margin-left: 100px;
}

.textSection p {
  text-align: initial;
  color: gray !important;
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
  margin-bottom: 1.5rem;
}

.textSection ul {
  margin-left: 53px;
}

.textSection img {
  width: 95%;
}

.supportSection ul {
  margin-left: 145px;
}

.supportSection p {
  padding-left: 145px;
}

.supportSection ul,
.contactSection ul {
  list-style: none;
  padding: 0px;
  line-height: 30px;
}

.footerlink a {
  color: inherit;
  text-decoration: inherit;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
}

.footerHeadSection {
  color: rgb(128, 128, 128);
  font-weight: 600;
  text-align: start;
}

.contactInfo {
  color: rgba(229, 231, 235, 1);
  font-weight: 700;
}

.contactInfoValue {
  color: rgba(156, 163, 175, 1);
}

.contactInfoValue:hover {
  color: rgba(229, 231, 235, 1);
}

.footerlink {
  color: rgba(229, 231, 235, 1);
  list-style: none;
}

.socialMedia {
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.socialMedia li {
  padding-right: 20px;
}

@media (max-width:1280px) {

  footer .supportSection {
    padding-right: 25px;
  }

  .supportSection ul {
    margin-left: 100px;
  }

  .supportSection p {
    padding-left: 100px;
  }

  footer .contactSection {
    padding-right: 5px;
    line-height: 20px;
  }

  .socialMedia {
    margin-bottom: 10px;
    margin-right: 40px;
  }
}

@media (max-width:991px) {
  footer .textSection div {
    margin-left: 30px;
  }

  footer .textSection ul {
    margin-left: -12px;
  }

  .supportSection ul {
    margin-left: 80px;
  }

  .supportSection p {
    padding-left: 80px;
  }

  footer .contactSection {
    padding-right: 0px;
  }

  .socialMedia {
    margin-right: 10px;
  }
}

@media (max-width:643px) {
  .footer {
    display: inline-block;
    padding-left: 30px;
  }

  .textSection,
  .supportSection,
  .contactSection {
    width: 100%;
  }

  footer .textSection div {
    margin-left: 0px;
  }

  footer .textSection p {
    width: 57%;
  }

  footer .textSection ul {
    margin-left: -43px;
  }

  footer .supportSection {
    padding-right: 0px;
  }

  footer .supportSection p {
    padding-left: 0px;
  }

  footer .supportSection ul {
    margin-left: 0px;
  }

  .socialMedia {
    justify-content: flex-start;
  }
}

@media (max-width:480px) {
  .footer {
    padding-left: 15px;
  }

  footer .textSection p {
    width: 86%;
  }
}
